h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: helvetica;
}

ul{
  list-style-type: none;
  text-align: center;
}

ul a{
  font-size: 18px;
  text-decoration: underline;
  color: white;
  font-family: helvetica;
  font-weight: bold;
}

.header{
  background-image: url("./images/the-flatiron-building.png")
}
